#first-banner-about {
    background: url('../../../assets/picture-01.jpg');
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}